h1{
    color: rgb(80, 80, 190);
}
p{
    color: rgb(173, 88, 173);
}
h2{
    color: rgb(193, 207, 178);
}
h3{
    color: rgb(80, 153, 80);

}
h4{
    color: rgb(163, 118, 62);
}
h5{
    color: rgb(216, 57, 57);
}
h6{
    color: rgb(198, 211, 19);
}