h1{
    color: blue;
    text-decoration: underline;
    
}
p{
    color: purple;
    text-transform: uppercase;
}
h2{
    color: chartreuse;
    letter-spacing: 20px;
}
h3{
    color: darkgreen;
    text-align: center;

}
h4{
    color: darkorange;
    direction: ltr;
}
h5{
    color: red;
    text-indent: 50px;
}
