
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.svg{
    height: 100%;
}

.flex-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.content{
flex-grow: 1;
flex-shrink: 0;
display: flex;
flex-direction:row;

}

.content-info{
    width: 50%;
    background-color: #71c9f8; 
    position: relative; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container{
    z-index: 10;

}

.description-element{
    line-height: 30px;
    font-size: 19px;
    font-weight: 900;
    color:#fff;
    margin-bottom: 40px;
    display: flex;
}

.desription-element span {

    height: 24px;
   
}

.description-svg{
    height: 28px;
    display: inline-block;
    margin-right: 20px;
}

.description-text{
    display: inline-block;
}

.background-bird {
    top: 0;
    right: 0;
    color: rgba(29,161,242,1.00);
    position: absolute;
    height: 160vh;
    top: -30vh;
    right:-58vh;
    height: 160vh;  
}

.background-bird svg{
    height: 100%;
}

.content-signup{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;   
}
.content-signup .description-svg{
    font-size: 30px;
}
h1, p {
    color: #0f1419;
    font-weight: 900;
    margin-top: 20px;
}

h1 {
    font-size: 2vw;
    margin-top: 25px;
    line-height: 1.4;
}

p {
    font-size: 1rem;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24rem;
    height: 2rem;
    border-radius: 30px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 900;
    margin-bottom: 1rem;
}

.btn-signup{
    background: #1da1f2;
    color: #fff;

}
.btn-login{
    background-color: #fff;
    color: #1da1f2;
    border: 1px solid #1da1f2;
}

.footer{
    background-color: white; 
    text-align: center; 
    padding: 15px 15px; 
    flex-grow: 0;
    
}
.footer nav a,
.footer nav div {
    text-decoration: none;
    font-size: 10px;
    margin: .3rem .4rem;
    color: black;
    margin-right: 16px;
    border-bottom: 1px solid transparent;
    transition: all .2s ease;
}

.footer nav a:hover{
    border-bottom: 1px solid black;
}

